PORT=3000
JWT_SECRET=ganti_dengan_secret_panjang_random
ADMIN_USERNAME=namaadminmu
ADMIN_PASSWORD=passwordkuatmu

MONGODB_URI=mongodb+srv://<admin>:<password>@<cluster>.mongodb.net/<dbname>
CLOUDINARY_CLOUD_NAME=nama_cloud_kamu
CLOUDINARY_API_KEY=api_key_kamu
CLOUDINARY_API_SECRET=api_secret_kamu

MAX_FILE_SIZE=52428800
