PORT=3000
JWT_SECRET=JWT_SECRET=9fK2xLq83JdPz7HnQ2mXcR5tY8wUe1AbV6sT0pLo
ADMIN_USERNAME=fahril
ADMIN_PASSWORD=fahril29124

MONGODB_URI=mongodb+srv://fahrilas29124_db_user:l9srfx4jgZdG3cUI@cluster0.qfddxnb.mongodb.net/myapp?retryWrites=true&w=majority
CLOUDINARY_CLOUD_NAME=dbvurnehz
CLOUDINARY_API_KEY=574917639967734
CLOUDINARY_API_SECRET=GQKSGQLwtUXsXvGgeFRJsg85QXY

MAX_FILE_SIZE=52428800
